.classifiedParameterWrapper{
/*  	padding-top: 9px;
    margin-left: 20px;
    font-size: 9pt;
    color: #878484;
    font-weight: 400;  */
    float: left;
    width: 150px;
}
.hidden {
	visibility: hidden;
    height: 0px;
}
.centeredNotice {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 15pt;
    color: #878484;
    font-weight: 400;
}
