<div class="cardHeader">
  <div class="cardHeaderTitle">FIELD MEASUREMENT</div>
  <img class="cardInfoButton" src="../../assets/icon_info.svg" alt="info" (click)="handleInfoButtonTap()"/>
  <div class="parameterOption" style="padding-top: 9px;float:right;">
    <div class="parameterOptionTitle">Field Characteristic</div><br/>
    <md-select [(ngModel)]="selectedFieldCharacteristic" (change)="onChart1ImageTypeChange()">
      <md-option *ngFor="let fieldCharacteristic of fieldCharacteristics" [value]="fieldCharacteristic">
        {{fieldCharacteristic}}
      </md-option>
    </md-select>
  </div>
  <div class="parameterOption" style="padding-top: 9px;float:right;">
    <div class="parameterOptionTitle">Number of Classes</div><br/>
    <md-select [(ngModel)]="selectedClassSize" (change)="onChart1ImageTypeChange()">
      <md-option *ngFor="let classSize of classSizes" [value]="classSize">
        {{classSize}}
      </md-option>
    </md-select>
  </div>
  <div class="parameterOption" style="padding-top: 9px;float:right;">
    <div class="parameterOptionTitle">Classification Method</div><br/>
    <md-select [(ngModel)]="selectedClassificationMethod" (change)="onChart1ImageTypeChange()">
      <md-option *ngFor="let classificationMethod of classificationMethods" [value]="classificationMethod">
        {{classificationMethod}}
      </md-option>
    </md-select>
  </div>
</div>
<div class="chartWrapper" style="width:100%;">
  <div id="histogram"></div>
</div>
