<div class="cardHeader">
  <div class="cardHeaderTitle">IMAGE CHARACTERISTICS</div>
  <img class="cardInfoButton" src="../../assets/icon_info.svg" alt="info" (click)="handleInfoButtonTap()"/>
  <button class="addChartButton" md-button (click)="handleAddChartButtonTap()"> + ADD A CHART</button>
</div>
<div class="chartWrapper multiChartDivider">
  <div class="chartHeader">
    <div class="parameterOption">
      <div class="parameterOptionTitle">Spectral</div><br/>
      <md-select [disabled]="spectralOptionIsDisabled" [(ngModel)]="selectedSpectralCharacteristicName" name="spectralCharacteristic" (change)="onSpectralCharacteristicChange()">
        <md-option *ngFor="let spectralCharacteristic of spectralCharacteristics" [value]="spectralCharacteristic">
          {{spectralCharacteristic}}
        </md-option>
      </md-select>
    </div>
    <div class="parameterOption">
      <div class="parameterOptionTitle">Textural</div><br/>
      <md-select [disabled]="texturalOptionIsDisabled" [(ngModel)]="selectedTexturalCharacteristicName" name="texturalCharacteristic" (change)="onTexturalCharacteristicChange()">
        <md-option *ngFor="let texturalCharacteristic of texturalCharacteristics" [value]="texturalCharacteristic">
          {{texturalCharacteristic}}
        </md-option>
      </md-select>
    </div>
    <div class="parameterOption">
      <div class="parameterOptionTitle">Image Source</div><br/>
      <md-select [(ngModel)]="selectedSensor" name="imageSources" (change)="onSensorChange()">
        <md-option *ngFor="let sensor of sensors" [value]="sensor">
          {{sensor}}
        </md-option>
      </md-select>
    </div>
    <br/>
  </div>
  <div id="ndviChart"></div>
</div>
<div class="chartWrapper">
  <div class="chartHeader">
    <div class="parameterOption">
      <div class="parameterOptionTitle">Spectral</div><br/>
      <md-select [disabled]="spectralOptionIsDisabled" [(ngModel)]="selectedSpectralCharacteristicName" name="spectralCharacteristic" (change)="onSpectralCharacteristicChange()">
        <md-option *ngFor="let spectralCharacteristic of spectralCharacteristics" [value]="spectralCharacteristic">
          {{spectralCharacteristic}}
        </md-option>
      </md-select>
    </div>
    <div class="parameterOption">
      <div class="parameterOptionTitle">Textural</div><br/>
      <md-select [disabled]="texturalOptionIsDisabled" [(ngModel)]="selectedTexturalCharacteristicName" name="texturalCharacteristic" (change)="onTexturalCharacteristicChange()">
        <md-option *ngFor="let texturalCharacteristic of texturalCharacteristics" [value]="texturalCharacteristic">
          {{texturalCharacteristic}}
        </md-option>
      </md-select>
    </div>
    <div class="parameterOption">
      <div class="parameterOptionTitle">Image Source</div><br/>
      <md-select [(ngModel)]="selectedSensor" name="imageSources" (change)="onSensorChange()">
        <md-option *ngFor="let sensor of sensors" [value]="sensor">
          {{sensor}}
        </md-option>
      </md-select>
    </div>
    <br/>
  </div>
  <div id="texturalChart"></div>
</div>

