.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 36px;
  background-color: #B4D01C;
  color: #ffffff;
  z-index:1;
}

.headerTitle {
  padding-top: 7px;
  padding-left: 145px;
  float: left;
  font-size: 17px;
}

.logo {
  position: absolute;
  top: 9px;
  left: 45px;
  width: 89px;
}

.loginButton {
  padding-right: 20px;
  float: right;
  font-size: 11px;
  letter-spacing: 1px;
}
