<div class="cardHeader">
  <div class="cardHeaderTitle">IMAGE CHARACTERISTICS</div>
  <img class="cardInfoButton" src="../../assets/icon_info.svg" alt="info" (click)="handleInfoButtonTap()"/>
  <button class="addChartButton" md-button (click)="handleAddChartButtonTap()"> + ADD A CHART</button>
</div>
<div class="chartWrapper multiChartDivider" >
  <div class="chartHeader">
    <div class="parameterOption">
      <div class="parameterOptionTitle">Image Type</div><br/>
      <md-select [(ngModel)]="chart1SelectedImageType" (change)="onChart1ImageTypeChange()">
        <md-option *ngFor="let imageType of imageTypes" [value]="imageType">
          {{imageType}}
        </md-option>
      </md-select>
    </div>
    <div class="parameterOption">
      <div class="parameterOptionTitle">Image Characteristic</div><br/>
      <md-select [(ngModel)]="chart1SelectedImageCharacteristicName" (change)="onChart1ImageCharacteristicChange()">
        <md-option *ngFor="let chart1ImageCharacteristic of chart1ImageCharacteristics" [value]="chart1ImageCharacteristic">
          {{chart1ImageCharacteristic}}
        </md-option>
      </md-select>
    </div>
    <div class="parameterOption">
      <div class="parameterOptionTitle">Image Source</div><br/>
      <md-select [(ngModel)]="selectedChart1Sensor" (change)="onChart1SensorChange()">
        <md-option *ngFor="let chart1Sensor of chart1Sensors" [value]="chart1Sensor">
          {{chart1Sensor}}
        </md-option>
      </md-select>
    </div>
    <br/>
  </div>
  <div id="chart1"></div>
</div>
<div class="chartWrapper">
  <div class="chartHeader">
    <div class="parameterOption">
      <div class="parameterOptionTitle">Image Type</div><br/>
      <md-select [(ngModel)]="chart2SelectedImageType" (change)="onChart2ImageTypeChange()">
        <md-option *ngFor="let imageType of imageTypes" [value]="imageType">
          {{imageType}}
        </md-option>
      </md-select>
    </div>
    <div class="parameterOption">
      <div class="parameterOptionTitle">Image Characteristic</div><br/>
      <md-select [(ngModel)]="chart2SelectedImageCharacteristicName" name="texturalCharacteristic" (change)="onChart2ImageCharacteristicChange()">
        <md-option *ngFor="let chart2ImageCharacteristic of chart2ImageCharacteristics" [value]="chart2ImageCharacteristic">
          {{chart2ImageCharacteristic}}
        </md-option>
      </md-select>
    </div>
    <div class="parameterOption">
      <div class="parameterOptionTitle">Image Source</div><br/>
      <md-select [(ngModel)]="selectedChart2Sensor" (change)="onChart2SensorChange()">
        <md-option *ngFor="let chart2Sensor of chart2Sensors" [value]="chart2Sensor">
          {{chart2Sensor}}
        </md-option>
      </md-select>
    </div>
    <br/>
  </div>
  <div id="chart2"></div>
</div>

