<!-- Component for the header of the application -->
<app-header></app-header>
<div class="leftContent">
  <!--Study Area Parameters-->
  <app-study-area></app-study-area>
</div>
<div class="rightContent">
  <md-card class="card">
    <md-card-content>
      <div class="cardContent">
        <app-map></app-map>
      </div>
    </md-card-content>
  </md-card>
  <md-card id="timeSeriesCard" class="card" style="height:590px;">
    <md-card-content>
      <div class="cardContent">
        <app-time-series></app-time-series>
      </div>
    </md-card-content>
  </md-card>
  <md-card class="card" style="height:515px;">
    <md-card-content>
      <div class="cardContent">
        <app-histogram></app-histogram>
      </div>
    </md-card-content>
  </md-card>
  <md-card class="card" style="height:515px;">
    <md-card-content>
      <div class="cardContent">
        <app-classified-time-series></app-classified-time-series>
      </div>
    </md-card-content>
  </md-card>
</div>


