/**
 You can add global styles to this file, and also import other style files
 */

body {
  padding:0;
  margin:0;
  color: #848484;font-family: 'Open Sans', sans-serif;
}

/**
  Used between different components
 */

.contentSection {
  background: #ffffff;
}

.contentSectionHeader {
  height: 32px;
  font-weight: bold;
  color: #000000;
  padding-top: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #DFDFDF;
}

.shadow {
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

.chartWrapper {
  float: left;
  background-color: #ffffff;
  width:49.5%;
}

.multiChartDivider {
  border-right: 1px solid #DFDFDF;
}

.chartHeader {
  font-size: 8pt;
  height: 55px;
  padding-left: 20px;
  padding-top: 10px;
}

.parameterOption {
  float: left;
  margin-right: 20px;
}

.parameterOptionTitle {
  float: left;
}

/**
  Overrides Material
 */
.mat-select-value-text {
  font-size: 9pt;
}

.mat-checkbox-indeterminate.mat-warn .mat-checkbox-background, .mat-checkbox-checked.mat-warn .mat-checkbox-background {
  background-color: #629440;
}

.mat-option {
  white-space: nowrap;
  font-size: 14px;
}

/**
  Overrides OpenLayers
 */

/* make the zoom in-out button background white instead of blue */
.ol-control button {
  color: #000000;
  background-color: #ffffff;
}
.ol-control button:hover {
  color: #000000;
  background-color: #ffffff;
}
.ol-control button:focus {
  color: #000000;
  background-color: #ffffff;
}
