.leftContent {
  width: 210px;
  float: left;
  background-color: #ffffff;
  font-size: 8pt;
}

.rightContent {
  padding:10px;
  margin-left:210px;
  background-color: #E9EFF2;
}

.card {
  padding: 0;
}

.cardContent {
  box-sizing: content-box !important;
}

