<!-- Component for the header of the application -->
<app-header></app-header>
<!-- Component for the description -->
<app-description></app-description>
<!-- Initial Selections including Study Area & Map -->
<app-study-area></app-study-area>
<!-- Image Characteristic section -->
<app-image-characteristic-section></app-image-characteristic-section>
<!-- Field Characteristic section -->
<app-field-characteristic-section></app-field-characteristic-section>
<!-- Classified Time Series section -->
<app-classified-series-section></app-classified-series-section>
