<!-- Component for the header of the application -->
<app-header></app-header>
<div class="leftContent">
  <!--Study Area Parameters-->
  <app-study-area></app-study-area>
</div>
<div class="rightContent">
  <!-- Map section -->
  <app-map-component></app-map-component>
  <!-- Image Characteristic section -->
  <app-image-characteristic-section></app-image-characteristic-section>
  <!-- Field Characteristic section -->
  <app-field-characteristic-section></app-field-characteristic-section>
  <!-- Classified Time Series section -->
  <app-classified-series-section></app-classified-series-section>
</div>

