<!-- Component for the header of the application -->
<app-header></app-header>
<div class="leftContent">
  <!--Study Area Parameters-->
  <app-study-area></app-study-area>
</div>
<div class="rightContent">

  <md-card class="card">
    <md-card-content>
      <div class="cardContent">
        <app-map-component></app-map-component>
      </div>
    </md-card-content>
  </md-card>

  <md-card class="card" style="height:590px;">
    <md-card-content>
      <div class="cardContent">
        <app-image-characteristic-section></app-image-characteristic-section>
      </div>
    </md-card-content>
  </md-card>
  <!-- RESPONSIVE TEST
  <md-card class="card" style="margin-top:20px;">
    <div class="cardHeader">
      IMAGE CHARACTERISTICS
    </div>
    <md-card-content>
      <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div [style.xs]="{width:'50%', height:'500px', 'background-color':'#ff0000'}"
             [style.sm]="{width:'50%', height:'500px', 'background-color':'#00ff00'}"
             [style.md]="{width:'500px', height:'500px', 'background-color':'#0000ff'}"
             [style.lg]="{width:'500px', height:'500px', 'background-color':'#ff0000'}">
          put chart 1
          <div id="ndviChart"></div>
        </div>
        <br/>
        <div [style.xs]="{width:'50%', height:'500px', 'background-color':'#ff0000'}"
             [style.sm]="{width:'50%', height:'500px', 'background-color':'#00ff00'}"
             [style.md]="{width:'500px', height:'500px', 'background-color':'#0000ff'}"
             [style.lg]="{width:'500px', height:'500px', 'background-color':'#ff0000'}">
          purt chart 2
          <div id="texturalChart"></div>
        </div>
      </div>
    </md-card-content>
  </md-card>
  -->

  <md-card class="card" style="height:515px;">
    <md-card-content>
      <div class="cardContent">
        <app-field-characteristic-section></app-field-characteristic-section>
      </div>
    </md-card-content>
  </md-card>

  <md-card class="card" style="height:515px;">
    <md-card-content>
      <div class="cardContent">
        <app-classified-series-section></app-classified-series-section>
      </div>
    </md-card-content>
  </md-card>

</div>

