.leftContent {
  width: 215px;
  float: left;
  background-color: #ffffff;
}

.rightContent {
  margin-top: 35px;
  padding:20px;
  margin-left:215px;
  background-color: #eeeeee;
  border-left: 2px solid #dddddd;
}

.card {
  padding:0;
}

.cardContent {
  box-sizing: content-box !important;
}

