<div class="mainSection">
  <div class="parameterSection">
    <div class="parameterTitle">Study Area</div>
    <div class="parameterInfo" (click)="handleInfoTapForStudyArea()">
      <img src="../../assets/icon_info.svg" alt="info" matTooltip={{studyAreaToolTip}} [matTooltipPosition]='toolTipPosition' />
    </div>
    <mat-select class="selectItem" [(ngModel)]="selectedStudyAreaName" name="studyArea" (change)="onStudyAreaChange()">
      <mat-option *ngFor="let studyArea of studyAreas" [value]="studyArea.properties.name">
        {{studyArea.properties.name}}
      </mat-option>
    </mat-select>
  </div>
  <div class="parameterSection">
    <div>Start Year</div>
    <mat-select class="selectItem" [(ngModel)]="selectedStartYear" name="startYear" (change)="onStartYearChange()">
      <mat-option *ngFor="let startYear of startYears" [value]="startYear">
        {{startYear}}
      </mat-option>
    </mat-select>
  </div>
  <div class="parameterSection">
    <div>End Year</div>
    <mat-select class="selectItem" [(ngModel)]="selectedEndYear" name="endYear" (change)="onEndYearChange()">
      <mat-option *ngFor="let endYear of endYears" [value]="endYear">
        {{endYear}}
      </mat-option>
    </mat-select>
  </div>
  <div class="parameterSection">
    <div class="parameterTitle">Crop Type</div>
    <div class="parameterInfo" (click)="handleInfoTapForCropType()" style="float:left;">
      <img src="../../assets/icon_info.svg" alt="info" matTooltip={{cropTypeToolTip}} [matTooltipPosition]='toolTipPosition' />
    </div>
    <br/>
    <div class="cropItem" *ngFor="let crop of crops">
      <mat-checkbox color="warn" [(ngModel)]="crop.isChecked" (change)="onCropTypeChange()">{{crop.name}}</mat-checkbox>
      <br/>
    </div>
  </div>
</div>







