<div class="leftContent">
  <!--Study Area Parameters-->
  <app-study-area></app-study-area>
</div>
<div class="rightContent">
  <mat-card class="card">
    <mat-card-content>
      <div class="cardContent">
        <app-map></app-map>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card id="timeSeriesCard" class="card">
    <mat-card-content>
      <div class="cardContent">
        <app-time-series></app-time-series>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card id="histogramCard" class="card">
    <mat-card-content>
      <div class="cardContent">
        <app-histogram></app-histogram>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card id="classifiedTimeSeriesCard" class="card">
    <mat-card-content>
      <div class="cardContent">
        <app-classified-time-series></app-classified-time-series>
      </div>
    </mat-card-content>
  </mat-card>
</div>
