<div class="cardHeader" style="padding-right: 135px;">
  <div class="cardHeaderTitle">HISTOGRAM OF FIELD CONSTANTS</div>
  <img class="cardInfoButton" src="../../assets/icon_info.svg" alt="info" (click)="handleInfoButtonTap()" mdTooltip={{fieldConstantsToolTip}} [mdTooltipPosition]='toolTipPosition'/>
  <div class="fieldMeasurementOption">
    <div class="parameterOptionTitle">Classification Method</div><br/>
    <md-select [(ngModel)]="selectedClassificationMethod" (change)="onClassificationChange()">
      <md-option *ngFor="let classificationMethod of classificationMethods" [value]="classificationMethod">
        {{classificationMethod}}
      </md-option>
    </md-select>
  </div>
  <div class="fieldMeasurementOption">
    <div class="parameterOptionTitle">Number of Classes</div><br/>
    <md-select [(ngModel)]="selectedClassSize" (change)="onClassSizeChange()">
      <md-option *ngFor="let classSize of classSizes" [value]="classSize">
        {{classSize}}
      </md-option>
    </md-select>
  </div>
  <div class="fieldMeasurementOption">
    <div class="parameterOptionTitle">Field Constant</div><br/>
    <md-select [(ngModel)]="selectedFieldConstantCharacteristic" (change)="onFieldCharacteristicChange()">
      <md-option *ngFor="let fieldConstantCharacteristic of fieldConstantCharacteristics" [value]="fieldConstantCharacteristic.alias">
        {{fieldConstantCharacteristic.alias}}
      </md-option>
    </md-select>
  </div>
</div>
<div class="chartWrapper" style="width:100%;">
  <div id="histogram"></div>
</div>
