.fieldMeasurementOption {
  float:left;
  padding-top: 9px;
  margin-left: 20px;
  font-size: 9pt;
  color: #878484;
  font-weight: 400;
  width: 100px;
}

.classificationHeaderTitle {
  padding-top:22px;
  float:right;
}
.classificationFieldMeasurementOption {
  float:right;
  padding-top: 9px;
  margin-left: 20px;
  font-size: 9pt;
  color: #878484;
  font-weight: 400;
  width: 100px;
}
.hidden {
	visibility: hidden;
    height: 0px;
}
.centeredNotice {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 15pt;
    color: #878484;
    font-weight: 400;
}
